<div class="container-fluid">
    <form action="" id="category-form">
        <input type="hidden" name="id" value="{% if category.pk %}{{category.pk}}{% endif %}">
        <div class="form-group mb-3">
            <label for="name" class="control-label">Category Name</label>
            <input type="text" name="name" id="name" class="form-control form-control-sm rounded-0" value="{% if category.name %}{{category.name}}{% endif %}" required>
        </div>
        <div class="form-group mb-3">
            <label for="description" class="control-label">Description</label>
            <textarea rows="5" name="description" id="description" class="form-control form-control-sm rounded-0" required>{% if category.description %}{{category.description}}{% endif %}</textarea>
        </div>
        <div class="form-group mb-3">
            <label for="status" class="control-label">Status</label>
            <select name="status" id="status" class="form-select form-select-sm rounded-0" required>
            {% if category.status == 1 %}
            <option value="1" selected>Active</option>
            {% else %}
            <option value="1">Active</option>
            {% endif %}

            {% if category.status == 0 %}
            <option value="0" selected>Inactive</option>
            {% else %}
            <option value="0">Inactive</option>
            {% endif %}
        </select>
        </div>
    </form>
</div>
<script>
    $(function() {
        $('#category-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'save-category-page' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert_toast("An error occured", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        el.removeClass("alert alert-danger err-msg")
                        location.reload()
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("An error occured", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>